	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script src="https://kit.fontawesome.com/b0ed652bba.js" crossorigin="anonymous"></script>
	<style type="text/css">
		@media (min-width: 768px) {
		  html {
		    font-size: 16px;
		  }
		}

		.container {
		  max-width: 960px;
		}

		
		.card-deck .card {
		  min-width: 220px;
		}

		.search-bar{
			max-width: 500px;

		}
	</style>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar navbar-light bg-light sticky-top shadow-lg ">
	
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <p> 
𝘽𝙡𝙪𝙢𝙚 </p>
  	{%if request.user.is_authenticated%}
  	
  	{%endif%}
  </h5>
  <div class="search-bar mt-sm-2 mr-2">
   <form class="form-inline" method="get">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg></span>
      </div>
      <input type="text" class="form-control" name="q" id="id_q"placeholder="search" aria-label="post" aria-describedby="basic-addon1">
    </div>
  </form>
  </div>
  <nav class="my-2 my-md-0 mr-md-4">
  	{%if request.user.is_authenticated%}
    <a class="p-2 text-dark" href="{% url 'blog:create' %}"><i class="fas fa-edit fa-1x"></i></a>
    <a class="p-2 text-dark" href="{% url 'home'%}"><i class="fas fa-bars fa-1x"></i></a> 
    <a class="p-2 text-dark" href="{%url 'account'%}"><i class="fas fa-user-circle fa-1x"></i></i></a>
    <a class="p-2 text-dark" href="{%url 'logout'%}"><i class="fas fa-sign-out-alt fa-1x"></i></i></a>
    <a class="p-2 text-dark" href="{%url 'chat:index'  %}"><i class="fas fa-comments fa-1x"></i></a>

	{%else%}
	<a class="p-2 text-dark" href="{%url 'home'%}"><i class="fas fa-bars fa-1x"></i></a>
	<a class="p-2 text-dark"  href="{%url 'login'%}"> <i class="fas fa-sign-in-alt fa-1x"></i></a>
	<a class="btn btn-outline-primary" href="{%url 'register'%}">sign up</a> 
    {%endif%}
  </nav>
</div>

<script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}"
</script>
	